
hardware/History/

hardware/Libraries/__Previews/

hardware/__Previews/

hardware/Libraries/RASPBERRY_PI_PICO/History/

*.drc

*.html

hardware/Project Logs for DataLoggingThermometer/

hardware/Mainboard.PcbDoc.htm

hardware/Project Outputs for DataLoggingThermometer/Status Report.Txt
